<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPNS0CATT7t0Q5CXnRCRqPuEhB_mTCqtM</string>
	<key>GCM_SENDER_ID</key>
	<string>1077256172841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesapp</string>
	<key>PROJECT_ID</key>
	<string>notesapp-b1b38</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-b1b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077256172841:ios:bc0344b7d4e96f85483338</string>
</dict>
</plist>